{% extends 'base.html'%}

{% block title%}
{{todo.title}}
{% endblock title%}

{% block content %}
<div class = "to-do-nav">
<h2>{{todo.title}}</h2>
    <div class = "to-do-nav">
        <button class = "edit-button small-button" data-id = "{{ todo.id }}" data-url = "{% url 'edit' todo.id %}"><i class="fas fa-edit"></i></button>
        <button class = "delete-button small-button" data-url = "{% url 'delete' todo.id %}" data-id = "{{ todo.id }}" data-redirect="{% url 'main' %}"><i class="fas fa-trash"></i></button>
    </div>
</div>
<br>
<h5>Created: {{todo.creation_date | date:"j M Y G:i"}}</h5>

<p>{{todo.text}}</p>

<input type="checkbox" name ="completed" class = "todo-comletion" {%if todo.completion %}checked disabled {% endif %} data-id = "{{ todo.id }}" data-url = "{% url 'toggle_todo' todo.id %}">
<label for = "completed" >Completed</label>

<h5 id = "completion-date-{{todo.id}}" {% if not todo.completion%} hidden {% endif %}>{{todo.completion_date | date:"j M Y G:i"}}</h5>
<br><br>

{% if todo.image %}
<img src="{{todo.image.url}}" alt = "todo image">
<br>
{% endif %}


<div id="subtasks-container" {% if not subtasks%} hidden {% endif%}>
    <br><br>
    <h3>Subtasks:</h3>
    <hr>
    <br>
    <div id = "subtasks-list">
        {% for subtask in subtasks %}
            
                <div id="subtask-{{subtask.id}}">
                    <div class = "to-do-nav">
                        <h4>{{subtask.title}}</h4>
                        <div class = "to-do-nav">
                            <button class = "edit-subtask-btn small-subtask-button" data-id = "{{ subtask.id }}"><i class="fas fa-edit"></i></button>
                            <button class = "delete-subtask-btn small-subtask-button" data-id = "{{ subtask.id }}" data-url = "{% url 'delete_subtask' subtask.id %}"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                    <p>{{subtask.text}}</p>
                    <br>
                    <input type="checkbox" name ="completion" {%if subtask.completion %}checked disabled {% endif %} data-id = "{{ subtask.id }}">
                    <label for = "completion">Completed</label>
                    <hr>
                    <br>
                </div>
            
        {% endfor %}
    </div>
</div>

<div id="form-container">
    <h2 id="form">Add subtask:</h2>
    <form data-url="{% url 'add_subtask' todo.id %}" method="post" id="subtask-form">
        {% csrf_token %}
        <label for="title">Title:</label>

            <input type="text" id="title" name="title" placeholder="Title" required>

            <label for="text">Description:</label>
            <textarea id="text" name="text" rows="4" placeholder="Description"></textarea>

            <button type = 'submit'>Add</button>
    </form>
</div>
{%endblock content%}