{% extends 'base.html'%}

{% block title%}
Create Your To Dos!
{% endblock title%}

{% block content %}
<h2>Edit Your To Do!</h2>
<form action="{% url 'save-edits' todo.id%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Title" required value = "{{todo.title}}">
        
        <div class = "completed-div">
            <input type="checkbox" name ="completed" {%if todo.complition %}checked {% endif %}>
            <label for = "completed" >Completed</label>
        </div>

        <label for="text">Description:</label>
        <textarea id="text" name="text" rows="4" placeholder="Description" required>{{todo.text}}</textarea>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*">
        <button type = 'submit'>Save changes</button>

</form>

{%endblock content%}