{% extends 'base.html'%}

{% block title%}
Edit Your To Do!
{% endblock title%}

{% block content %}
<h2>Edit Your To Do!</h2>
<form action="{% url 'save_edits' todo.id%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Title" required value = "{{todo.title}}">
        
        <div class = "completed-div">
            <input type="checkbox" name ="completed" class = "todo-comletion" {%if todo.completion %}checked {% endif %} data-id="{{todo.id}}" data-url = "{% url 'toggle_todo' todo.id %}">
            <label for = "completed" >Completed</label>
        </div>
        <h5 id="completion-date-{{todo.id}}" {% if not todo.completion%} hidden {% endif %}>{{todo.completion_date | date:"j M Y G:i"}}</h5>

        <label for="text">Description:</label>
        <textarea id="text" name="text" rows="4" placeholder="Description" required>{{todo.text}}</textarea>

        <label for="image">Image:</label>
        {% if todo.image %}
            <div class="image-edit-div">
                <h5>Current image:</h5>
                <img src = "{{todo.image.url}}" alt ="Current image" style = "max-width: 100px; max-height: 100px;">
                <div class="image-edit-div">
                    <label for="remove_image">Remove current image:</label>
                    <input type="checkbox" id="remove_image" name = "remove_image">    
                </div>
                
            </div>
        {% endif %}
        <input type="file" id="image" name="image" accept="image/*">
        <p>New image will replace the old one</p>
        <button type = 'submit'>Save changes</button>


</form>

{%endblock content%}