{% extends 'base.html'%}

{% block title%}
All yours To Dos!
{% endblock title%}

{% block content%}
<h2>Login</h2>
{% if error_message %}
    <div class="error-message">
        {{ error_message }}
    </div>
{% endif %}
<form action = "{% url 'users' %}" method="post">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit" name="action" value="login" class="login-btn">Login</button>
</form>

{% endblock content%}