{% extends 'base.html' %}

{% block title %}
All yours To Dos!
{% endblock title %}

{% block content %}
<h3>You have {{not_completed}} task{{not_completed|pluralize}} to do!</h3>
<br>
{% for todo in todos %}

<div id="todo-{{ todo.id }}">
    <div class = "to-do-nav">
        <a href = "{% url 'details' todo.id %}"><h2>{{todo.title}}</h2></a>
            <div class = "to-do-nav">
                {% csrf_token %}
                <button class = "edit-button small-button" data-id = "{{ todo.id }}" data-url = "{% url 'edit' todo.id %}"><i class="fas fa-edit"></i></button>
                {% csrf_token %}
                <button class = "delete-button small-button" data-id = "{{ todo.id }}" data-redirect="" data-url = "{% url 'delete' todo.id %}"><i class="fas fa-trash" ></i></button>
            </div>
        </div>

    <h5>{{todo.creation_date | date:"j M Y G:i"}}</h5>
    <p>{{todo.text | truncatechars:50}}</p>
    <br>
    <input type="checkbox" name ="completed" class = "todo-comletion" {%if todo.completion %}checked disabled {% endif %} data-id="{{todo.id}}" data-url = "{% url 'toggle_todo' todo.id %}">
    <label for = "completed" >Completed</label>

    <h5 id = "completion-date-{{todo.id}}" {% if not todo.completion%} hidden {% endif %}>{{todo.completion_date | date:"j M Y G:i"}}</h5>
    
    <hr>
    <br>
</div>
{% endfor %}

{% endblock content%}