{% extends 'base.html'%}

{% block title%}
{{user.username}}
{% endblock title%}

{% block content %}
<h2>Hello {{user.username}}!</h2>

{% if messages %}
    <div class="error-message"> {{ messages }} </div>
{% endif %}

{% if rewards.count != 0 %}
<h3>Your rewards!</h3>
<div class = "rewards-container">
    {% for reward in rewards %}
    <img src="{{reward.image_url}}" alt="Random cat image">
    {% endfor %}
</div>
{% endif %}

<form action="{% url 'update_profile'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Update your profile!</h3>
    <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Username" value = "{{user.username}}">

        <label for="new-password">New password:</label>
        <input type ="password" id="new-password" name="new-password" placeholder="New password" >
        <label for="new-password-check">Repeat new password:</label>
        <input type ="password" id="password-check" name="password-check" placeholder="Repeat new password" >
        <button type = 'submit'>Update profile</button>
        
</form>
<form action="{% url 'delete_profile' %}" method="post">
    {% csrf_token %}
        <button type="submit" id="delete-profile">Delete profile</button>
</form>
{%endblock content%}